<div>
  <div class="row">
    <div class="download-icon"></div>
  </div>
  <div class="row">
    <div class="download-mask"></div>
  </div>
  <div class="row">
    <a class="download-icon-cta" href="#"><span>Download</span></a>
  </div>

  <div class="row" style="width:5rem;">
    <a class="download-icon-cta" href="#"><span>Wrapped Link Text</span></a>
  </div>

  <div class="row" style="width:5rem;">

      <a class="download-icon-cta" href="#">Wrapped Link Text</a>

  </div>

  <div class="row">
    <a class="download-icon-cta" href="#">Download 2</a>
  </div>
  <div class="row">
    <button class="btn btn-primary download-icon-white" aria-label="Download Button"></button>
  </div>
  <div class="row">
    <button class="btn btn-primary download-mask-cta" (click)="console.log('Clicked')" aria-label="Download Button"></button>
  </div>

  <div class="row" style="width:5rem;">
      <button class="btn btn-primary download-mask-cta" (click)="console.log('Clicked')" aria-label="Download Button">
        Wrapped Download Text
      </button>
    </div>
  <div class="row">
    <a class="download-mask-cta" href="#"><span>Download</span></a>
  </div>

  <div class="row">
    <button class="btn btn-primary download-mask-sprite-cta" aria-label="Download Button"></button>
  </div>

  <div class="row">
    <a class="settings-mask-sprite-cta" href="#"><span>Settings</span></a>
  </div>
</div>
