<div>
  svg-icons-showcase works!
  <div class="row">
    <div class="download-icon"></div>
  </div>
  <div class="row">
    <div class="download-mask"></div>
  </div>
  <div class="row">
    <a class="download-icon-cta" href="#"><span>Download</span></a>
  </div>
  <div class="row">
    <button class="btn btn-primary download-icon"></button>
  </div>
  <div class="row">
    <button class="download-mask-cta" (click)="console.log('Clicked')"></button>
  </div>
  <div class="row">
    <a class="download-mask-cta" href="#"><span>Download</span></a>
  </div>
</div>
