<app-sidebar-template>
    <div main-area class="main-area">
      <div class="row">
        <div class="form-group col-sm10-4">
          <label>First Name</label>
          <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group col-sm10-5">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name">
        </div>
      </div>
      <div class="row">
          <div class="form-group col-sm10-6">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="col-sm10-2 button-cell form-group">
            <button class="btn btn-success">Submit</button>
          </div>
          <div class="col-sm10-2 button-cell form-group">
            <button class="btn btn-danger">Cancel</button>
          </div>
      </div>
    </div>
    <div sidebar-area class="sidebar-component">
      <div class="sidebar-content">
        Learn More
        <button class="btn btn-light">More Info</button>
      </div>
    </div>
  </app-sidebar-template>
