/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/bootstrap-grid';

@import '~bootstrap/scss/mixins';


.report-breakpoint {
  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      &:before {
        content: '#{$breakpoint} #{$container-max-width}';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: 0.5;
      }
    }
  }
}

.breakout-background {
  position: relative;
  z-index: 0;

  &:before {
    content:'';
    position: absolute;
    height: 100%;
    z-index: -1;
    top:0;
    width: 100vw;

    // Different width for each breakpoint
    @each $breakpoint, $container-max-width in $container-max-widths {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        left: calc(-100vw / 2 + #{$container-max-width} / 2)
      }
    }
  }
}

.header {
  height: 5rem;
  color: white;
  &:before {
    background: darkslateblue;
  }
}

.footer {
  height: 5rem;
  color: white;
  &:before {
    background: darkblue;
  }
}

.show-container {
  &.container {
    outline: 2px solid darkmagenta;
  }

  & .breakout-background {
    z-index: unset;
  }
}
