.report-breakpoint {
  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      &:before {
        content: '#{$breakpoint} #{$container-max-width}';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: 0.5;
        background: white;
      }
    }
  }
}

.main-grid-overlay.row {
  display: none;
}

.show-grid.container {
  position: relative;
  .main-grid-overlay.row {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .row .content {
    height: 100%;
    background-color: aqua;
    border-left: 1px solid black;
    border-right: 1px solid black;
    opacity: 0.1;
  }
}

.show-container {
  &.container {
    outline: 2px solid darkmagenta;
  }

  & .breakout-background {
    z-index: unset;
  }
}
