
@mixin createIconStyle($path-to-svg, $icon-size) {
  background-image: url('~/../src/#{$path-to-svg}');
  background-repeat: no-repeat;
  background-size: $icon-size auto;
  background-position: center;
  height: $icon-size;
  width: $icon-size;
}

// Using technique from https://codepen.io/noahblon/post/coloring-svgs-in-css-background-images
@mixin createMaskStyle($path-to-svg, $icon-size) {
  mask: url('~/../src/#{$path-to-svg}');
  mask-repeat: no-repeat;
  mask-size: $icon-size auto;
  mask-position: center;
  height: $icon-size;
  width: $icon-size;
}

@mixin iconAtTheEnd($path-to-svg, $icon-size) {
  display: inline-flex;
  align-items: center;

  &:after {
    @include createIconStyle($path-to-svg, $icon-size);
    vertical-align: middle;
    display: inline-block;
    content: '';
  }
}

@mixin existingIconAtTheEnd($extends-class, $icon-size) {
  display: inline-flex;
  align-items: center;
  &:after {
    @extend .#{$extends-class};
    vertical-align: middle;
    display: inline-block;
    background-size: $icon-size auto;
    height: $icon-size;
    width: $icon-size;
    content: '';
  }
}

@mixin iconAtTheEndMask($path-to-svg, $icon-size) {
  display: inline-flex;
  align-items: center;
  &:after {
    @include createMaskStyle($path-to-svg, $icon-size);
    vertical-align: middle;
    display: inline-block;
    content: '';
  }
}

.download-icon {
  @include createIconStyle('/assets/baseline-get_app-24px.svg', 2rem)
}

.download-mask {
  @include createMaskStyle('/assets/baseline-get_app-24px.svg', 2rem)
}

.download-cta {
  @include existingIconAtTheEnd(download-icon, 1.5rem);
  // @include iconAtTheEnd('/assets/baseline-get_app-24px.svg', 1.5rem);
}

.download-mask-cta {
  @include iconAtTheEndMask('/assets/baseline-get_app-24px.svg', 1.5rem);
}
